* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

main {
    display: flex;
    align-items: center;
    gap: 60px;
}

.card {
    width: 280px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

    & .pokemon-img {
        width: 160px;
        height: 160px;
        object-fit: contain;
    }

    & .info {
        margin-top: 10px;
        text-align: left;

        & .nome-numero {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                font-size: 20px;
                color: #333;
                text-transform: capitalize;
            }

            & span {
                color: #ababab;
                font-size: 14px;
            }
        }

        & .tipos {
            display: flex;
            gap: 8px;
            margin-top: 8px;

            & span {
                background-color: #eee;
                color: #505050;
                font-size: 12px;
                padding: 4px 12px;
                border-radius: 20px;
                text-transform: capitalize;
            }
        }
    }
}

.btn-gerar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
        font-size: 14px;
        color: #505050;
        font-weight: bold;
    }

    &:hover {
        background-color: #f0f0f0;
    }
}